assets/template/modules/channels.jade
include ../mixins/list
.container#channel
    .wrapper
        h1.block-title CHANNELS
        
        h3.channel-title ENTERTAINMENT
        ul.channellist
            +list-channel
            
        h3.channel-title ENTERTAINMENT
        ul.channellist
            +list-channel
            
        h3.channel-title ENTERTAINMENT
        ul.channellist
            +list-channel

frontend/modules/channels.html

<div id="channel" class="container">
  <div class="wrapper">
    <h1 class="block-title">CHANNELS</h1>
    <h3 class="channel-title">ENTERTAINMENT</h3>
    <ul class="channellist">
      <li>
        <div class="aspect-content"><img src="http://lorempixel.com/450/450/nature/"/>
          <div class="info-box"><span class="title"><a href="">CHANNEL TITLE</a></span></div>
        </div>
      </li>
      <li>
        <div class="aspect-content"><img src="http://lorempixel.com/450/450/food/"/>
          <div class="info-box"><span class="title"><a href="">CHANNEL TITLE</a></span></div>
        </div>
      </li>
      <li>
        <div class="aspect-content"><img src="http://lorempixel.com/450/450/technics/"/>
          <div class="info-box"><span class="title"><a href="">CHANNEL TITLE</a></span></div>
        </div>
      </li>
    </ul>
    <h3 class="channel-title">ENTERTAINMENT</h3>
    <ul class="channellist">
      <li>
        <div class="aspect-content"><img src="http://lorempixel.com/450/450/nature/"/>
          <div class="info-box"><span class="title"><a href="">CHANNEL TITLE</a></span></div>
        </div>
      </li>
      <li>
        <div class="aspect-content"><img src="http://lorempixel.com/450/450/food/"/>
          <div class="info-box"><span class="title"><a href="">CHANNEL TITLE</a></span></div>
        </div>
      </li>
      <li>
        <div class="aspect-content"><img src="http://lorempixel.com/450/450/technics/"/>
          <div class="info-box"><span class="title"><a href="">CHANNEL TITLE</a></span></div>
        </div>
      </li>
    </ul>
    <h3 class="channel-title">ENTERTAINMENT</h3>
    <ul class="channellist">
      <li>
        <div class="aspect-content"><img src="http://lorempixel.com/450/450/nature/"/>
          <div class="info-box"><span class="title"><a href="">CHANNEL TITLE</a></span></div>
        </div>
      </li>
      <li>
        <div class="aspect-content"><img src="http://lorempixel.com/450/450/food/"/>
          <div class="info-box"><span class="title"><a href="">CHANNEL TITLE</a></span></div>
        </div>
      </li>
      <li>
        <div class="aspect-content"><img src="http://lorempixel.com/450/450/technics/"/>
          <div class="info-box"><span class="title"><a href="">CHANNEL TITLE</a></span></div>
        </div>
      </li>
    </ul>
  </div>
</div>
