assets/template/modules/featured-video.jade
.container.darkbg
    .wrapper
        .featured-video
            .aspect-content
                img(src='http://lorempixel.com/970/546/people' alt='')
            
            a(class='featured-playBtn')
                i(class='fa fa-play')

                
        

frontend/modules/featured-video.html

<div class="container darkbg">
  <div class="wrapper">
    <div class="featured-video">
      <div class="aspect-content"><img src="http://lorempixel.com/970/546/people" alt=""/></div><a class="featured-playBtn"><i class="fa fa-play"></i></a>
    </div>
  </div>
</div>
