frontend/modules/members.html

<div class="container lastcont darkredbg">
  <div class="wrapper">
    <ul class="officialslist">
      <li><img src="http://lorempixel.com/125/125/people/"/>
        <p>Emmanuel C. Lorenzana</p><span>President and CEO</span>
      </li>
      <li><img src="http://lorempixel.com/125/125/people/"/>
        <p>Emmanuel C. Lorenzana</p><span>President and CEO</span>
      </li>
      <li><img src="http://lorempixel.com/125/125/people/"/>
        <p>Emmanuel C. Lorenzana</p><span>President and CEO</span>
      </li>
      <li><img src="http://lorempixel.com/125/125/people/"/>
        <p>Emmanuel C. Lorenzana</p><span>President and CEO</span>
      </li>
      <li><img src="http://lorempixel.com/125/125/people/"/>
        <p>Emmanuel C. Lorenzana</p><span>President and CEO</span>
      </li>
    </ul>
  </div>
</div>

assets/template/modules/members.jade
.container.lastcont.darkredbg
    .wrapper
        ul.officialslist
            li
                img(src='http://lorempixel.com/125/125/people/')
                p Emmanuel C. Lorenzana
                span President and CEO
            li
                img(src='http://lorempixel.com/125/125/people/')
                p Emmanuel C. Lorenzana
                span President and CEO
            li
                img(src='http://lorempixel.com/125/125/people/')
                p Emmanuel C. Lorenzana
                span President and CEO
            li
                img(src='http://lorempixel.com/125/125/people/')
                p Emmanuel C. Lorenzana
                span President and CEO
            li
                img(src='http://lorempixel.com/125/125/people/')
                p Emmanuel C. Lorenzana
                span President and CEO
